{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "targets": {
          "browsers": ["last 2 versions", "not dead", "> 0.2%"]
        }
      }
    ]
  ],
  "sourceType": "module"
}